@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

/* Styles de base pour les petits écrans */
.formation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; 
    height: auto; 
}

.card__title {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
}

.card_formation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
}

.module {
    width: 85%;
    max-width: 90%; 
    border: 1px solid #000;
    background-color:  #d6d3cd; 
    padding: 15px; 
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.module h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module ul {
    list-style-type: none;
    padding-left: 0;
}

.module li {
    margin-bottom: 1rem;

    strong {
        font-size: 0.9rem;
        font-weight: 900;
    }
}

.module p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #000;
    font-style: italic;
}

/* Styles pour les écrans moyens et grands */
@media (min-width: 600px) {
    .card__title {
        font-size: 1.8rem;
    }

    .module {
        width: 80%;
        max-width: 80%;
        padding: 20px;
    }

    .module h3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .card__title {
        font-size: 2rem;
    }

    .module {
        width: 70%;
        max-width: 70%;
        padding: 20px;
    }

    .module h3 {
        font-size: 1.7rem;
    }
}

@media (min-width: 992px) {
    .card__title {
        font-size: 2.2rem;
    }

    .module {
        width: 60%;
        max-width: 600px; 
        padding: 20px;
    }

    .module h3 {
        font-size: 1.8rem;
    }
}
