@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.homepage {
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
        color: #083344;
    }

    header {
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #E2DED1;
        transform: scale(0); /* Initialement, le header est rétréci */
        opacity: 0; /* Initialement, le header est invisible */
        animation: zoomIn 3s ease-in-out forwards;
        animation-delay: 0s; /* Le header s'anime immédiatement */
    }
    
    .homepage__name,
    .homepage__profession {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #083344;
        font-weight: 500;
    }
    
    .homepage__profession {
        margin-bottom: 30px;
    }
    
    .homepage__cards {
        display: grid;
        grid-template-columns: 1fr; /* Par défaut, une seule colonne pour mobile (320px) */
        gap: 20px;
        margin-top: 20px;
    }
    
    .card {
        background-color: #E2DED1; /* Couleur des cartes */
        border: 1px solid #000;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        transform: scale(0); /* Initialement, les cartes sont rétrécies */
        opacity: 0; /* Initialement, les cartes sont invisibles */
        animation: zoomIn 3s ease-in-out forwards;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .card:nth-child(1) {
        animation-delay: 3s; /* La 1ère carte commence après 3s (fin de l'animation du header) */
    }
    
    .card:nth-child(2) {
        animation-delay: 4s; /* La 2ème carte commence après 6s (3s après la 1ère carte) */
    }
    
    .card:nth-child(3) {
        animation-delay: 5s; /* La 3ème carte commence après 9s (3s après la 2ème carte) */
    }
    
    .card:nth-child(4) {
        animation-delay: 6s; /* La 4ème carte commence après 12s (3s après la 3ème carte) */
    }

    .card:nth-child(5) { /* Ajout de la carte "Contact" */
        animation-delay: 7s; /* La carte Contact commence après 15s (3s après la 4ème carte) */
    }
    
    @keyframes zoomIn {
        0% {
            transform: scale(0); /* Elément rétréci */
            opacity: 0; /* Elément invisible */
        }
        100% {
            transform: scale(1); /* Elément à sa taille normale */
            opacity: 1; /* Elément visible */
        }
    }
    
      

            h2 {
                color: #65a30d;
            }

            h3 {
                margin-bottom: 20px;
                border: 1px solid #000;
                border-radius: 35px;
            }

            a.formation__link, 
            a.propos__link {
                text-decoration: none;
                color: #65a30d;
            }

            .propos {
                font-size: 0.9rem;
                text-align: left;
                display: flex;
                transition: transform 0.3s ease, font-size 0.3s ease;
                cursor: pointer;
              }
        }
    

    .github,
    .linkedin,
    .mail,
    .phone {
        cursor: pointer;
    }

    .github {
        left: -35px;
    }

    .linkedin {
        left: 30px;
    }

    .mail,
    .phone {
        border: 1px solid #000;
        border-radius: 35px;
        margin-bottom: 20px;

        .contact__link, 
        .contact_phone__link {
            @include flex-center;
            color: #083344;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .phone {
        .contact_phone__link {
            position: relative;
            left: 95px;
        }
    }

    .contact__link, 
    .contact_phone__link {
        margin-left: 10px;
        color: inherit;
        text-decoration: none;
    }

    .contact_phone__link {
        background: none;
        border: none;
        font: inherit;
        display: inline;
        padding: 0;
    }


    @media (min-width: 768px) {
      .homepage__cards {
          grid-template-columns: 1fr 1fr; // Deux colonnes pour les écrans plus grands
      }
  
      .homepage__profession {
          margin-bottom: 50px; // Augmenter l'espace pour les écrans plus grands
      }
  
      .mail,
      .phone {
          margin-bottom: 30px; // Ajuster le margin pour les écrans plus grands
      }
  
      .phone .contact_phone__link {
          left: 0; // Corriger la position du lien pour les écrans plus grands
      }
  }
  

